.article,
.page {
  &__header,
  &__body {
    grid-column: 2;
  }

  &__intro {
    --flow-space: var(--size-800);
  }

  &__body {
    line-height: 1.7;

    blockquote,
    dl,
    figcaption,
    li,
    p {
      max-width: 60ch;

      a {
        color: var(--color-link);
      }
    }

    h2,
    h3 {
      --flow-space: 5rem;
    }

    ol,
    ul {
      padding-left: 1.5ch;
    }

    ol {
      list-style-type: initial;
    }

    ul {
      list-style-type: disc;
    }
  }
}

.article {
  &__meta {
    display: flex;
    column-gap: 1.5ch;

    > time,
    > span {
      display: flex;
      align-items: center;
      column-gap: 1ch;
    }
    svg {
      height: var(--size-400);
      width: var(--size-400);
      fill: var(--color-text);
    }
  }

  &__nav {
    &-links {
      margin-top: 0;
    }
  }
}

.page__title {
  display: inline-block;
  background-image: var(--color-rainbow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#select-clients-brands + ul {
  columns: 2;
}
