.blog {
  &__title {
    display: inline-block;
    line-height: 1.2 !important;
    background-image: var(--color-rainbow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.blog-item {
  &:not(:last-of-type) {
    border-bottom: 1px dashed var(--color-border);
  }

  @include media-query("md") {
    &__intro {
      margin-top: 0;
    }
  }
}
