// Color Scheme

$gorko-colors: (
  "rainbow": (
    linear-gradient(450deg, #ed2240, rgba(96, 97, 151, 0) 70%),
    linear-gradient(135deg, #396eea 30%, rgba(57, 110, 234, 0) 80%),
    linear-gradient(225deg, #c2c700 5%, rgba(194, 199, 0, 0) 80%),
    linear-gradient(0deg, #f6009c, rgba(252, 0, 161, 0) 71%),
  ),
  "black": #000,
  "gray-dark": #231f20,
  "gray": #72686b,
  "gray-light": #a09e9c,
  "beige": #d3d3cc,
  "offwhite": #f6f4f2,
  "white": #ffffff,
  "dark-purple": #101023,
  "purple": #2a2859,
  "lilac": #8b80f9,
  "blue": #5181e2,
  "coral": #f4688b,
  "red": #ce4345,
  "bittersweet": #ff686b,
  "tangerine": #f68e5f,
);

// Light and Dark Mode

$light-colors: (
  "rainbow": map-get($gorko-colors, "rainbow"),
  "header": rgba(map-get($gorko-colors, "offwhite"), 0.25),
  "text": map-get($gorko-colors, "gray-dark"),
  "bg": map-get($gorko-colors, "offwhite"),
  "border": map-get($gorko-colors, "beige"),
  "link": map-get($gorko-colors, "blue"),
  "link-hover": map-get($gorko-colors, "black"),
);

$dark-colors: (
  "rainbow": map-get($gorko-colors, "rainbow"),
  "header": rgba(map-get($gorko-colors, "gray-dark"), 0.25),
  "text": map-get($gorko-colors, "beige"),
  "bg": map-get($gorko-colors, "gray-dark"),
  "border": map-get($gorko-colors, "gray"),
  "link": map-get($gorko-colors, "coral"),
  "link-hover": map-get($gorko-colors, "white"),
);

// Tokens Config

$gorko-config: (
  "css-vars": (
    "themes": (
      "default": (
        "tokens": (
          "color": $light-colors,
        ),
      ),
      "dark": (
        "prefers-color-scheme": "dark",
        "tokens": (
          "color": $dark-colors,
        ),
      ),
      "dark-toggle": (
        "prefix": '[data-theme="dark"]',
        "tokens": (
          "color": $dark-colors,
        ),
      ),
      "light-toggle": (
        "prefix": '[data-theme="light"]',
        "tokens": (
          "color": $light-colors,
        ),
      ),
    ),
    "base": (
      "size": clamp(1.09rem, 1rem + 0.47vw, 1.33rem),
    ),
    "flow": (
      "space": var(--base-size),
    ),
    "size": (
      "300": clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem),
      "400": clamp(0.88rem, 0.83rem + 0.24vw, 1rem),
      "500": clamp(1.09rem, 1rem + 0.47vw, 1.33rem),
      "600": clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem),
      "700": clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem),
      "800": clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem),
      "900": clamp(2.67rem, 2.07rem + 3vw, 4.21rem),
      "1000": clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem),
    ),
  ),
  "bg": (
    "items": "color",
    "css-vars": true,
    "output": "standard",
    "property": "background",
  ),
  "color": (
    "items": "color",
    "css-vars": true,
    "output": "standard",
    "property": "color",
  ),
  "box": (
    "items": (
      "block": "block",
      "flex": "flex",
      "hide": "none",
      "show": "inherit",
    ),
    "output": "responsive",
    "property": "display",
  ),
  "font": (
    "items": (
      "base": "'wotfard-wf', Helvetica, Arial, sans-serif",
    ),
    "output": "standard",
    "property": "font-family",
  ),
  "gap-top": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "margin-top",
  ),
  "gap-right": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "margin-right",
  ),
  "gap-bottom": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "margin-bottom",
  ),
  "gap-left": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "margin-left",
  ),
  "pad-top": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "padding-top",
  ),
  "pad-right": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "padding-right",
  ),
  "pad-bottom": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "padding-bottom",
  ),
  "pad-left": (
    "items": "size",
    "css-vars": true,
    "output": "standard",
    "property": "padding-left",
  ),
  "stack": (
    "items": (
      "300": 0,
      "400": 10,
      "500": 20,
      "600": 30,
      "700": 40,
    ),
    "output": "standard",
    "property": "z-index",
  ),
  "text": (
    "items": "size",
    "css-vars": true,
    "output": "responsive",
    "property": "font-size",
  ),
  "weight": (
    "items": (
      "regular": "400",
      "bold": "700",
    ),
    "output": "standard",
    "property": "font-weight",
  ),
  "width": (
    "items": (
      "full": "100%",
      "half": percentage(calc(1 / 2)),
      "quarter": percentage(calc(1 / 4)),
      "third": percentage(calc(1 / 3)),
      "two-thirds": percentage(calc(2 / 3)),
    ),
    "output": "responsive",
    "property": "width",
  ),
  "flex": (
    "items": (
      "full": "100%",
      "half": calc((100% / 2) - (((2 - 1) / 2) * var(--flex-gap))),
      "quarter": calc((100% / 4) - (((4 - 1) / 4) * var(--flex-gap))),
      "third": calc((100% / 3) - (((3 - 1) / 3) * var(--flex-gap))),
      "two-thirds": calc(2 * ((100% / 3) - (((3 - 1) / 3) * var(--flex-gap)))),
    ),
    "output": "responsive",
    "property": "flex-basis",
  ),
  "breakpoints": (
    "sm": "(min-width: 36em)",
    "md": "(min-width: 48em)",
    "lg": "(min-width: 62em)",
  ),
);
