@font-face {
  font-family: "wotfard-wf";
  src: url("../../fonts/wotfard-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "wotfard-wf";
  src: url("../../fonts/wotfard-regularitalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "wotfard-wf";
  src: url("../../fonts/wotfard-semibold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
