.home-hero {
  overflow: hidden;
  position: relative;

  &__inner {
    min-height: 70vh;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__gradient {
    --size: 60vh;
    --speed: 20s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(
      hsla(25, 82%, 57%, 0.8),
      hsla(349, 82%, 57%, 0.8)
    );
    animation: rotate var(--speed) var(--easing) infinite forwards;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: all 2s linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0%, 0%, 0);
      width: calc(var(--size) * 1.5);
      height: var(--size);
    }
    25% {
      transform: rotate(90deg) translate3d(10%, -25%, 0);
      width: var(--size);
      height: calc(var(--size) * 1.5);
    }
    50% {
      transform: rotate(180deg) translate3d(20%, 10%, 0);
      width: calc(var(--size) * 1.5);
      height: var(--size);
    }
    75% {
      transform: rotate(270deg) translate3d(-10%, 25%, 0);
      width: var(--size);
      height: calc(var(--size) * 1.5);
    }
    100% {
      transform: rotate(360deg) translate3d(0%, 0%, 0);
      width: calc(var(--size) * 1.5);
      height: var(--size);
    }
  }

  p {
    max-width: 40ch;
    line-height: 1.2;
  }
}
