html {
  scroll-padding-top: 8rem;
}

:where(body) {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  font-size: var(--base-size);
  background-color: var(--color-bg);
  color: var(--color-text);
}

:where(main) {
  flex-grow: 1;
}

:where(a) {
  color: var(--color-text);
}

:where(a:focus),
:where(a:hover) {
  color: var(--color-link-hover);
}

:where(a:not(:focus):not(:hover)) {
  color: inherit;
  text-decoration-color: transparent;
}

:where(h1) {
  font-size: var(--size-800);
  max-width: 22ch;

  &.text-1000 {
    max-width: 100%;
    letter-spacing: -0.025em;
  }
}

:where(h2) {
  font-size: var(--size-700);
  max-width: 30ch;
}

:where(h3) {
  font-size: var(--size-600);
}

:where(hr) {
  border: none;
  border-top: 1px solid var(--color-border);
  transform: translateY(-1px);
  margin: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem) 0 !important;
  // max-width: 55rem;
}

.wrapper {
  width: 90vw;
  width: clamp(16rem, 93vw, 75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--base-size);
  padding-right: var(--base-size);
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  --flex-gap: var(--size-800);

  & > * {
    flex-shrink: 1;
    flex-grow: 0;
  }
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.grid {
  @include media-query("md") {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: var(--size-800);
  }
}

.site-header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-border);
  -webkit-backdrop-filter: blur(12px) saturate(80%);
  backdrop-filter: blur(12px) saturate(80%);
  background: var(--color-header);
  z-index: 50;

  :where(&__inner) {
    align-items: center;
  }
}

.site-logo {
  font-weight: bold;
}

#menu-toggle {
  padding: 0.4rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background: transparent;

  &:focus,
  &:hover {
    border: 1px solid var(--color-text);
  }

  @include media-query("md") {
    display: none;
  }
}

.nav-wrapper {
  visibility: hidden;
  position: fixed;
  top: calc(2.75rem + 2 * var(--size-500));
  left: 0;
  right: 0;
  background: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  z-index: 2;

  &.site-menu--is-visible {
    visibility: visible;
  }

  @include media-query("md") {
    visibility: visible;
    position: static;
    background-color: transparent;
    border-bottom: none;
  }
}

.site-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;

  padding: var(--base-size);
  width: 90vw;
  width: clamp(16rem, 93vw, 75rem);
  margin-left: auto;
  margin-right: auto;

  a:last-of-type {
    padding: 0.4rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    text-decoration: none;

    &:focus,
    &:hover {
      border-color: var(--color-link-hover);
    }
  }

  @include media-query("md") {
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    padding: 0;
    width: auto;
    margin: 0;
  }
}

.site-footer {
  border-top: 1px solid var(--color-border);
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
